In [1]:
import pandas as pd
import numpy as np
import statistics

In [2]:
## Nitel Değişken
nitel = pd.Series(['a','b','c','d'], dtype="category")
print(nitel)
# Eğer söz konusu değişken sembollerle ifade ediliyorsa, bu değişkene nitel değişken denilmektedir.

0    a
1    b
2    c
3    d
dtype: category
Categories (4, object): [a, b, c, d]

In [3]:
## Nicel Değişken
nicel=pd.Series([1,3,5,7,9])
print(nicel)
# Söz konusu değişken sayısal olarak ifade edilebiliyorsa, bu değişkene nicel değişken denilmektedir.

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [4]:
df = pd.DataFrame()
df['age'] = [28, 42, 27, 24, 35, 54, 35, 37]
df

   age
0   28
1   42
2   27
3   24
4   35
5   54
6   35
7   37

In [5]:
rassal=np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
print(rassal)

[70.14432809 65.84914636 66.32855714 61.25048352 59.95161414 62.87263955
 69.3032087  78.51610735 64.2059779  53.8419144  61.73155735 68.368078
 68.711254   79.54872184 63.86151364 78.24057592 64.19550323 54.23599734
 69.61881259 68.2095745  67.75180132 53.5989568  69.32224562 60.86910558
 62.54868122 71.59117569 48.38755703 59.33374688 48.8471185  68.53297243
 73.57921881 67.11413328 62.23413365 80.86112026 65.44196756 74.69325351
 64.08027058 79.23286453 74.5547731  72.07077509 65.10603381 80.64200144
 75.57293978 75.41460003 78.99938304 78.3617846  81.45795702 73.83311349
 68.23360939 61.4869319  78.17962773 71.23531484 70.43985513 58.93161805
 66.01705222 67.06234501 66.34109928 56.39246696 74.70415772 80.96239769
 63.17198253 73.55684329 70.16813302 70.08320547 77.56256649 54.67112105
 74.36883341 76.4859271  65.03582783 66.69846702 91.85085454 62.47585613
 67.98060596 93.81367789 71.80753587 60.86978122 64.62358806 59.69198935
 77.26791571 68.47533991 70.33409566 70.77636861 66.29343878 72.83518593
 64.42564718 71.71643043 76.79815967 86.96620725 59.26519751 79.99718227
 69.83566147 67.5797432  71.03672627 71.60660775 61.97490937 72.29755841
 66.46414422 50.71468517 71.29138957 58.87146792 59.53631015 58.80037021
 67.49236013 61.44285986 67.73174797 67.03558042 69.4919292  67.71080146
 63.72134855 64.3386766  61.09591125 63.53310771 68.99781303 56.15333843
 66.8077467  63.18789048 65.32013141 64.17003142 64.59837124 64.70329845
 68.78612646 64.45047073 63.88920793 68.06732744 60.59853971 64.07612717
 58.512007   67.18509621 57.76019341 67.31197944 74.81255142 64.45580181
 64.83589958 67.95492798 61.66960359 64.60008786 61.61426357 57.49965211
 66.1722345  64.76636054 69.23561423 64.90117439 72.79077014 64.74152454
 70.59977374 66.72549654 63.33454657 65.11832177 65.49066906 60.59726112
 60.85126891 62.76719725 58.39841324 70.65461603 71.25184987 60.27350164
 67.72010032 67.54442435 59.2733084  62.1724368  64.80394268 69.04738602
 67.56080822 61.06947461 61.5277589  64.18852662 56.95667077 57.7922141
 68.80789117 74.00908464 64.80355064 65.50359997 68.99989015 70.35911342
 66.44626123 69.98223487 58.23995327 60.8045042  66.0510247  64.95144445
 72.54879943 63.22827254 63.82566908 62.49619278 68.15841511 67.96007533
 60.52033065 59.60865803 58.74161835 62.44866279 56.26950929 70.61238874
 63.48042248 69.03546443 66.47023464 60.24255758 69.28037237 67.1653024
 66.66632533 66.78042986]

1.2.1. Ortalama
Ortalama bir değişkenin tüm değerlerinin toplamının alınması ve sonrasında da gözlem sayısına bölünmesiyle bulunan sayıdır. Aynı zamanda değişkenin beklenen değeri olarak da tanımlanır

mean = sum(x) / n

In [6]:
sum(df['age']) / len(df['age'])

35.25

In [7]:
sum(rassal)/len(rassal)

66.7576098625404

In [8]:
print(np.mean(df['age']))

35.25

In [9]:
print(np.mean(rassal))

66.75760986254042

1.2.2. Medyan
Medyan veriler küçükten büyüğe dizildiğinde ortadaki değerdir. Eğer tek sayıda değer varsa ortadaki değer medyandır, eğer çift sayıda değer varsa ortadaki iki değerin ortalamasıdır.

In [10]:
print(statistics.median(df['age']))

35.0

In [11]:
print(np.median(df['age']))

35.0

1.2.3. Mod

 Mod değerler arasında en sık geçen değeri gösterir. Diğer bir değişle, mod analizi ile veride birden fazla kümelenme olup olmadığı tespit edilir. Eğer iki veya daha fazla değer aynı sayıda tekrar ederse çift mod oluşacaktır. Aşağıdaki kodu çift mod içeren bir veri ile çalıştırsaydınız hata alabilirdiniz. Aşağıdaki kod istisnalar oluşturmadan çift modlu verileri ele alabilecektir, fakat siz ilk modu alacaksınız.

In [12]:
statistics.mode(df['age'])

35

In [13]:
# Veride setinde en çok tekrar  sayının bulunması
(values, counts) = np.unique(df['age'], return_counts=True)

# En fazla tekrara eden elemeanların listelenmesi 
ind = np.argmax(counts)

# The most frequent element.
values[ind]

35

1.3.1. Varyans
Merkezi eğilimi ölçmek önemli olsa da bir değişkeni anlamak için tek başına yeterli değildir. Bunun için dağılım ölçülerine de başvurmak gerekmektedir. Bir değişkeni anlamak için bakmamız gereken diğer bir önemli gösterge ise varyans'tır.

Bir değişkenin varyansı, değerlerin merkezi eğilimden ne kadar farklılaştığını ve her bir değerin bir başkasından ne kadar farklılaştığını tanımlar. Bir değişkende tüm değerler merkezi eğilime yakınsa varyans çok küçük olacaktır. Eğer değerler merkezi eğilimden uzakta bulunuyorlarsa varyans çok yüksek olacaktır.

Varyansı anlamanın bir diğer yolu ise şudur: Varyans, değişken içinde her bir veri noktası ne kadar değerlidir işte bunun hakkında bir ipucu verir. Eğer varyans düşükse birçok veri noktası merkezi eğilim ile benzerdir, bu nedenle her bir veri noktası ölçüm yapılan kavram hakkında çok az farklı bilgi verebilir. Eğer varyans yüksekse, her bir veri noktası ölçüm hakkında yeni ve farklı bilgiler sunabilecektir.

Birçok insan ortalamayı bulup onun üzerinde çalışma yaparken, veri bilimciler genellikle varyans üzerinde çalışırlar. Çünkü veri bilimciler araştırma konusu değişkenin neden birbirinden farklı davrandığını anlamaya çalışırlar. Neden bu mağazanın kazanç marjı diğerlerinden çok yüksek? Neden bu ilacın yan etkileri diğer emsal ilaçlara göre çok daha az? Neden bazı müşteriler şirketin web sitesinde daha fazla zaman geçiriyorlar? gibi sorular aslında varyansla ilgilidir. Yüksek varyansa sahip bir değişken gözlemler hakkında farklılıkları ele verir, bu sayede veri bilimciler gelecek çıktıları anlamak için bunları kullanırlar.

<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
  <mi>v</mi>
  <mo>=</mo>
  <mfrac>
    <mrow>
      <mo>&#x2211;<!-- ∑ --></mo>
      <mo stretchy="false">(</mo>
      <mo stretchy="false">(</mo>
      <mi>x</mi>
      <mo>&#x2212;<!-- − --></mo>
      <mi>&#x03BC;<!-- μ --></mi>
      <msup>
        <mo stretchy="false">)</mo>
        <mn>2</mn>
      </msup>
      <mo stretchy="false">)</mo>
    </mrow>
    <mrow>
      <mo stretchy="false">(</mo>
      <mi>n</mi>
      <mo>&#x2212;<!-- − --></mo>
      <mn>1</mn>
      <mo stretchy="false">)</mo>
    </mrow>
  </mfrac>
</math>

Varyans, her bir veri noktasının ortalamaya olan farkının karelerinin toplamının, gözlem sayısının bir eksiğine bölümü ile bulunur.
Burada  
μ
  popülasyon ortalamasını temsil etmektedir.

Varyansın hesaplanması ile ilgili iki gariplik var. Neden farkın karesi alınıyor ve neden n ‘e değilde (n-1)’e bölünüyor.

İlk soruya cevap olarak, ortalamaya göre sadece fakları alınsaydı toplamı sıfır olurdu çünkü yarısı negatif, yarısı pozitif olacaktı. Karesini alarak negatif değerleri kullanışlı hale getiriyoruz. Tabi ki mutlak değeri alarak hesaplayabilirdik, bu sayede negatif değerleri kullanabilirdik. Karesini almanın başka matematiksel faydaları var bunu sonra tartışacağız. Neden n-1 aldığımızın cevabı ise yanlılıkla (bias) alakalı olduğundan şimdilik tartışmasına girmiyoruz.

In [14]:
# Bir verinin varyansını 
# NumPy ve Pandas ile  hesaplayabiliriz. 
print(np.var(df['age'], ddof=1))
print(df['age'].var())

92.5
92.5

1.3.2. Standart Sapma

Değişkenliği ölçmekte en çok kullanılan göstergelerden birisi varyansın karekökünün alınmasıdır, buna standart sapma adını veririz. Varyansın karekökünün alınmasının matematiksel bazı faydaları var fakat bunu ileriki derslerde merkezi limit teoremini anlatırken daha ayrıntılı göreceğiz. 
 Numpy bize np.std() fonksiyonu ile standart sapmayı verir. Popülasyonun standart sapmasını hesaplarken Numpy’ın aldatıcı bir nüansı vardır. N-1 ile bölmek yerine n ile böler. Popülasyonun standart sapmasını hesaplamak için manuel olarak ddof (degrees of freedom-serbestlik derecesi) parametresine ihtiyaç duyarız:

In [15]:
np.std(df['age'], ddof=1)

9.617692030835672

In [16]:
92.5**0.5

9.617692030835672

1.3.3. Standart Hata

Verideki değişkenliğin tespitinde sıklıkla kullanılan diğer bir gösterge ise standart hatadır. Standart hata örneklem ortalamasının belirsizliğinin bir ölçüsüdür. Standart sapma bize varyans hakkında bilgi verirken, standart hata bize ortalama hakkında bilgi verir.

Anket sonuçları standart hata kullanımı için güzel bir örnektir. Genellikle hata marjı olarak bilinir. Örneğin bir anket sonucu %44 ‘ün X ‘i desteklediğini söyler ve %3 standart hata olabileceğini söyler. Diğer bir deyişle seçim bittiğinde sonuçlar %41 ile %47 arasında olabilir demektir. Standart hata ne kadar küçük olursa ortalamanın bize daha kesin ölçüldüğünü anlatır.

Standart hata, standart sapmanın gözlem sayısının kareköküne bölünmesiyle bulunur:

se=s/(karekök n)

In [17]:
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

3.4003676271838605

In [18]:
data = pd.DataFrame()
data['gender'] = ['male'] * 100 + ['female'] * 100
data['height'] = np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
data['weight'] = np.append(np.random.normal(195, 25, 100), np.random.normal(166, 15, 100))

In [19]:
## Verinin yapısı ile ilgili bilgi edinme  
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
gender    200 non-null object
height    200 non-null float64
weight    200 non-null float64
dtypes: float64(2), object(1)
memory usage: 4.8+ KB

In [20]:
##  Verinin ilk 5 satırına ilişkin bilgi
data.head()

  gender     height      weight
0   male  76.864034  181.978178
1   male  78.495321  202.100141
2   male  60.502457  224.076265
3   male  79.814756  196.391123
4   male  66.009547  216.122472

In [21]:
## Uzunluk (height) verisinin ortalaması
data.height.mean()

66.34215553987437

In [22]:
### Uzunluk verisinin standart sapması
data.height.std()

7.608296609374054

In [23]:
# Ağırlık (weight) verisinin içerisinde 
# yer alan boşlukların aynı verinin ortalaması 
# ile değiştirilmesi
# Önce ağırlık verisinin ortalamasını hesaplayalım
# daha sonra boş verileri bu ortalama ile dolduralım
weight_mean = data.weight.mean()
data.weight.fillna(weight_mean)
print("Ağırlık ortalaması: {}".format(weight_mean))

Ağırlık ortalaması: 181.78872588008716